<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>[[ ${pizza.name} ]]</title>
</head>
<body>
	<th:block th:replace="frags/header :: header"></th:block>
	<main class="container py-5">
		<div class="row justify-content-center">
			<div class="col-4 d-flex flex-column mb-3" th:object="${pizza}">
				<div class="card h-100 d-flex flex-column p-5 text-center mb-3">
					<h3 class="mb-3">[[ *{name} ]]</h3>
					<img class="img-fluid mb-3" th:alt="*{name}" th:src="*{imageUrl}">
					<h5 class="mb-3">Descrizione</h5>
					<p class="mb-5">[[ *{description} ]]</p>
					<p class="mb-5">prezzo: [[ *{price} ]]€</p>
					<div class="mb-3" th:unless="*{ingredients.isEmpty()}" >
						<h5>Ingredienti</h5>
						<ul class="list-unstyled">
							<li th:each="ingredient : *{ingredients}">[[ ${ingredient.name} ]]</li>
						</ul>						
					</div>
					<div class="buttons row justify-content-center">
						<form sec:authorize="hasAuthority('ADMIN')" class="col-4" th:action="@{/pizzas/delete/{id} (id=*{id})}" method="post">
							<button th:href class="btn btn-danger">Elimina</button>
						</form>
						<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/pizzas/edit/{id} (id=*{id})}" class="col-4 btn btn-warning">Modifica</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">		
			<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/pizzas/' + ${pizza.id} + '/special-offer/create'}" class="col-2 btn btn-success">Aggiungi Offerta</a>
		</div>
		<div th:unless="${pizza.specialOffers.isEmpty()}" class="d-flex flex-column align-items-center">
			<h2 class="my-3">OFFERTE</h2>
			<div class="col-8 d-flex justify-content-center align-items-center p-2 border" th:each="specialOffer : ${pizza.specialOffers}" th:object="${specialOffer}">
				<h6 class="mb-0 me-3">Offerta: [[ *{title} ]] </h6>
				<p class="mb-0 me-3">Data inizio: [[ *{startDate} ]]</p>
				<p class="mb-0 me-3">Data fine: [[ *{endDate} ]]</p>
				<p class="mb-0 me-3">Sconto: [[ *{discountPercentage} ]]%</p>
				<p class="mb-0 me-5">Prezzo: [[ *{getDiscountedPrice} ]]€ </p>
				<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/pizzas/' + ${pizza.id} + '/special-offer/edit/' + *{id}}" class="btn btn-warning">Modifica</a>
			</div>			
		</div>
	</main>
</body>
</html>